//*********************
//COLORS
//Need help w/ choosing your colors? Try this site out:
//http://0to255.com/
//*********************/
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:root {
  // colours
  --color-light-grey: #e4e4e4;
  --color-dark-grey: #606c76;
  --color-grey: #1a1a1a;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #0056ac;
  --color-dark-blue: #00458a;
}

$text-color: var(--color-dark-grey);

$link-color: var(--color-blue);
$link-hover: var(--color-dark-blue);
