// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $black;
  border: 0.1rem solid $black;
  color: $color-initial;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus,
  &:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $black;
      border-color: $black;
    }
  }

  &.button-outline {
    background-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: $color-secondary;
      color: $color-secondary;
    }

    &[disabled] {
      &:focus,
      &:hover {
        border-color: inherit;
        color: $color-primary;
      }
    }
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $color-secondary;
    }

    &[disabled] {
      &:focus,
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.block-button {
  background-color: $white;
  border: 0.1rem solid $black;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus,
  &:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
  }
}

.underline-button,
.underline-button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: 0 3rem;
  border-bottom: 5px solid $black;
  text-align: center;
  font-size: 10px;
  line-height: 3.8rem;
  background: transparent;
  color: $black;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  font-weight: $type-bold;

  @media (min-width: #{$screen-sm}) {
    font-size: 1rem;
  }

  a {
    color: $black;
    font-size: 10px;
    font-weight: $type-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @media (min-width: #{$screen-sm}) {
      font-size: 1rem;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: lighten($black, 10%);
  }

  &:hover {
    color: $white;

    a {
      color: $white;
    }
  }

  &.button-cta {
    width: 20px;
  }

  * {
    margin-bottom: 0;
  }
}
