/*********************
HEADER STYLES
*********************/

/*********************
Default Header
*********************/

.header {
  background: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
  // box-shadow: $drop-shadow;
}

// fix for new header.php schema layout
#inner-header {
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
  align-items: center;
}

#site-title {
  line-height: inherit;

  a {
    color: lighten($sb-black, 12%);
  }

  * {
    margin: 0;
  }
}

#logo {
  width: 80px;
  height: auto;
}

#bloginfo {
  @include center-start;
  width: 100%;
}

.menu_toggle.default_menu_toggle {
  display: block;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

// NAV UL

.main-menu {
  margin: 0;
  .menu-item {
    margin: 0 1em;
    a {
      margin: 0;
    }
  }
}

/*********************
DEFAULT MENU
*********************/

.default-menu {
  display: none;
  width: 50%;

  @media (min-width: #{$screen-lg}) {
    display: block;
  }

  .main-menu {
    @include center-between;
  }
}

/*********************
LOGO LEFT
*********************/

.logo_left {
  @include center-start;
  width: 100%;
  padding: 3vh 0;

  .logo_left_logo {
    flex: 2 auto;

    a {
      margin: 0;
    }
  }

  .logo_left_nav {
    flex: 3 auto;
    @include center-end;

    .header-nav {
      display: none;
      width: 100%;

      @media (min-width: #{$screen-lg}) {
        display: block;
      }

      .main-menu {
        @include center-end;
      }
    }

    .menu_toggle {
      display: block;

      @media (min-width: #{$screen-lg}) {
        display: none;
      }
    }
  }

  .logo_left_socials {
    flex: 1 auto;
    display: none;

    @media (min-width: #{$screen-lg}) {
      display: block;
    }
  }
}

.mobile-sidebar {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  display: block;
  background: white;
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: -1;

  @media (min-width: #{$screen-md}) {
    width: 50vw;
  }

  @media (min-width: #{$screen-lg}) {
    display: none;
  }

  .mobile-sidebar-inner {
    margin: 0 auto;
    width: 80%;
    margin-top: 15vh;
    height: 80%;
    @include center-between-column;

    .mobile-sidebar-top {
      width: 100%;

      .mobile-nav {
        margin-top: 0;

        @media (min-width : #{$screen-xs}) and (max-width :  #{$screen-lg}) and (orientation :landscape) {
          margin-top: 10px;
        }

        .menu-item {
          line-height: 60px;
          // border-bottom: 1px solid $grey;

          @media (min-width : #{$screen-xs}) and (max-width :  #{$screen-lg}) and (orientation :landscape) {
            line-height: 20px;
          }
        }
      }
    }

    .mobile-sidebar-bottom {
      width: 100%;
    }
  }
}

.mobile-menu-appear {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%) !important;
}

/*********************
LOGO MIDDLE
*********************/

.logo_middle {
  @include center-start;
  width: 100%;
  padding: 3vh 0;

  .logo_middle_nav {
    flex: 1 auto;
    @include center-start;
  }

  .logo_middle_logo {
    flex: 2 200px;
    @include center-center;

    a {
      margin: 0;
    }
  }

  .logo_middle_socials {
    flex: 1 auto;
  }
}

.fullscreen-nav {
  background-color: $white;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  visibility: hidden;

  @media (min-width: #{$screen-md}) {
    padding: 40px;
  }

  .fullscreen-inner {
    width: 100%;
    height: 100%;
    @include center-center-column;

    .fullscreen-menu-nav {
      .menu-item {
        margin-bottom: 2rem;

        @media (min-width: #{$screen-md}) {
          margin-bottom: 4rem;
        }
        a {
          position: relative;
          @extend .h2;

          &:hover {
            &:after {
              width: 100%;
              left: 0;
              background: #000;
            }
          }

          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: #000;
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
          }
        }
      }
    }
  }
}

.opacity-full {
  opacity: 1;
  visibility: visible;
}

/*********************
SOCIALS
*********************/

.header_social_group {
  @include center-end;

  .social_item {
    margin: 0 20px;

    .social_logo {
      font-size: 22px;
    }
  }
}

/*********************
MENU TOGGLE
*********************/

.menu_toggle {
  display: block;
  transition: all 0.3s ease;
  width: 36px;
  height: 24px;
  position: relative;
  cursor: pointer;

  &:hover {
    &:before {
      top: 5px;
    }

    &:after {
      top: 5px;
      transform: rotate(-90deg);
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 36px;
    height: 3px;
    background: $black;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 18px;
    transition: all 0.3s ease-in-out;
    width: 36px;
    height: 3px;
    background: $black;
  }
}

.toggle_on {
  transform: rotate(45deg);

  &:before {
    top: 5px;
  }

  &:after {
    top: 5px;
    transform: rotate(-90deg);
  }
}

.page-in-full {
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.paged {
  transform: translateX(-50vw);

  @media (min-width: #{$screen-lg}) {
    transform: translateX(0);
  }
}

// page cover

.page-cover {
  display: block;
  background: $white;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 6;
  transition: all 0.6s ease-in-out;
  visibility: hidden;
}

.page-cover-opacity {
  opacity: 0.8;
  visibility: visible;
}

/*********************
Js Header Scroll up down
*********************/

.js-scroll-down {
  transform: translate3d(0, -100%, 0);
}

.js-scroll-up {
  transform: none;
}
